.container{
    width: 400px;
    margin: auto;
    margin-top: 30px;
}
.form-label{
    text-align: start;
}
input{
    margin-top: 10px;
}
textarea{
    margin-top: 10px;
}
.link2{
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer;
    color: #fff;
}
.btn2{
border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}